.ui-widget-header{
	color: #434a54;
	background-color: #e6e9ed;
	border-color: #e6e9ed;
	font-size: 14px;
	font-weight: 400px;
}
.ui-dialog{
	padding: 0em !important;
}

.treeicons{
	font-size: 20px;
	font-weight: bold;
	padding: 2px;
}

.ui-dialog .ui-dialog-titlebar{
	padding: .1em .4em !important;
}